:root {
  --primary-font: Smythe;
  --secondary-font: Jost;
}

* {
  margin: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Typography */
h1,
p {
  font-family: var(--primary-font), sans-serif;
}

.title,
.title-desc {
  font-weight: 400;
}

.title {
  font-size: 39px;
}

.title-desc {
  font-size: 22.42px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #443535;
}

header,
main,
.place-order,
.thanks {
  width: 600px;
  background-color: white;
}

header {
  background-image: url(/images/banner.png);
  background-repeat: no-repeat;
  color: white;
  padding: 46px;
  margin-top: 10%;
}

main {
  padding: 67px 46px 0px;
  position: relative;
}

/* Individual items */

.items-container {
  display: flex;
  width: 508px;
  padding-bottom: 51px;
  border-bottom: 1px solid #d2d2d2;
  justify-content: space-between;
  margin-bottom: 45px;
}

.main-item {
  display: flex;
  column-gap: 31px;
}

.item-detail {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

/* Button */

button {
  cursor: pointer;
}

.add-item {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 200;
  background-color: white;
  margin-top: 10px;
  border: 1.5px solid #dedede;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* text-align: center; */
}

.add-item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

/* Items design */

.icon {
  font-size: 78.72px;
}

.item {
  font-size: 28px;
}

.item-ingredient {
  font-size: 16px;
  color: #8b8b8b;
}

.item-price {
  font-size: 20px;
}

/* When you place order */

.place-order p {
  font-size: 28px;
}

.place-order {
  display: flex;
  flex-direction: column;
  padding: 46px;
  /* display: none; */
}

.your-order {
  text-align: center;
  margin-bottom: 64px;
}

.order-placed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.order-item {
  display: flex;
  column-gap: 13px;
}

.remove-btn {
  border: none;
  background-color: white;
  font-family: var(--secondary-font);
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 400;
}

.line-break {
  border: 2px solid #393333;
  width: 504px;
  margin-top: 9px;
  margin-bottom: 14px;
}

.total-price-section {
  margin-bottom: 0px;
}

.complete-order {
  background-color: #16db99;
  border-radius: 3px;
  border: none;
  padding: 18px;
  box-shadow: 0 1px 2px 5% black;
  color: white;
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 53px;
}

/* After you place an Order */
/* Order Form */

.order-form {
  position: absolute;
  width: 524px;
  top: 125px;
  left: 38px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5.186544418334961px 5.186544418334961px 255.43731689453125px 0px
    #00000080;
  align-items: center;
}
.order-form,
form input {
  border: 1.3px solid #757575;
  border-radius: 3.89px;
}

.form-header,
form input {
  font-family: var(--secondary-font), sans-serif;
}

.form-header {
  font-size: 24px;
  font-weight: 700;
  margin: 47px 109px;
}

form input {
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  padding: 16px 26px;
}

form {
  display: flex;
  flex-direction: column;
  width: 475.91px;
  row-gap: 23px;
  margin-bottom: 30px;
}

#pay-btn {
  background-color: #16db99;
  border: none;
  border-radius: 3.89px;
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  color: white;
  padding: 16px;
  font-size: 20px;
  margin-top: 40px;
}

/* Thank you message */

.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 252px;
}

.thanks-container {
  display: flex;
  align-items: center;
  background-color: #ecfdf5;
  padding: 51px 59px;
}

.thank-you-message {
  font-family: var(--primary-font);
  color: #065f46;
  font-size: 32px;
}

/* Display none */

.ready-to-pay {
  display: none;
}
